@model PagoModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3>Editar metodo de pago</h3>
    </div>
    <div class="card-body">
        <form asp-action="Editar" asp-controller="Pago" method="post">
            <input asp-for="idPago" type="hidden" class="form-control">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="nombre" type="text" class="form-control">
                <span asp-validation-for="nombre" class="text-danger"></span>
            <button type="submit" class="btn btn-warning"><i class="bi bi-arrow-clockwise"></i> Actualizar metodo de pago</button>
        </form>
    </div>
</div>

